<!-- applistado.html -->
{% extends 'master.html' %}

{% block title %}AppListado{% endblock %}

{% block content %}

    <h2>LISTADO INMUEBLES Y PROCESOS</h2>
    <!-- Additional content for the home page -->

    <!-- Search form -->
    <form method="get" action="." class="row g-2 align-items-center">
        <div class="col-auto">
            <input type="text" class="form-control form-control-sm" name="q" placeholder="Buscar usuario" value="{{ request.GET.q }}">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary btn-sm" type="submit">Buscar</button>
        </div>
    </form>
    <br>

    <table class="table table-hover table-light border border-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>FECHA</th>
                <th>HORA</th>
                <th>DEPARTAMENTO</th>
                <th>CIUDAD</th>
                <th>JUZGADO</th>
                <th>Nº PROCESO</th>
                <th>AVALUO</th>
                <th>VALOR SUBASTA</th>
                <th>TIPO BIEN</th>
                <th>DIRECCION</th>
                <th>PLACA</th>
                <th>MATRICULA INMOBILIARIA</th>
                <th>REF. CATASTRAL</th>
                <th>DESCRIPCION</th>
                <th>REFERENCIA</th>
            </tr>
        </thead>
        <tbody>
            {% for remate in remates %}
                <tr>
                    <td>{{ remate.id }}</td>
                    <td>{{ remate.fecha }}</td>
                    <td>{{ remate.hora }}</td>
                    <td>{{ remate.departamento }}</td>
                    <td>{{ remate.ciudad }}</td>
                    <td>{{ remate.juzgado }}</td>
                    <td><a href="http://servicios.cartagena.gov.co/impuestos/generarFactura.jsp?referencia={{ remate.numero_proceso|urlencode }}&selecBusqueda=1" target="_blank">{{ remate.numero_proceso }}</a></td>
                    <td>{{ remate.avaluo }}</td>
                    <td>{{ remate.valor_subasta }}</td>
                    <td>{{ remate.tipo_bien }}</td>
                    <td>{{ remate.direccion }}</td>
                    <td>{{ remate.placa_vehiculo }}</td>
                    <td>{{ remate.matricula_inmobiliaria }}</td>
                    <td>{{ remate.referencia_catastral }}</td>
                    <td>{{ remate.descripcion }}</td>
                    <td>{{ remate.referencia }}</td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination pagination-sm">
            {% if remate.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ remate.previous_page_number }}">{{ remate.previous_page_number }}</a>
                </li>
            {% endif %}
            
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ remate.number }}</span>
            </li>
            
            {% if remate.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ remate.next_page_number }}">{{ remate.next_page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ remate.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
            
            <li class="page-item disabled">
                <span class="page-link">Total Pages: {{ remate.paginator.num_pages }}</span>
            </li>
        </ul>
    </nav>

{% endblock %}
