[client]
host = ls-a3bc5e3d600021084990532d920651f3d8aee513.ctobuhtlkwoj.us-east-1.rds.amazonaws.com
database = LxL4bMkc3EYQfTw3
user = USPSgrx4B4KC7t
password = TK4YkbsuQ2N4m5TtqwA8RrHHaxxuNz8u
default-character-set = utf8mb4

[mysqld]
sql_mode = STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
